.block {
    width: 250px;
    height: 250px;
    float: left;
    background: grey;
    margin: 0 10px 10px 0;
}

.block p {
    font-size: 120px;
    color: #ffffff;
}

.block.big p {
    font-size: 120px;
    color: #ffffff;
    padding: 50px 0 0 185px;
}

#pane {
    position: relative;
    min-width: 780px;
}
